.fieldset{
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
}
.fieldset legend{
    padding: 2px 1em;
    width: auto !important;
    min-height: 1.4em;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
    border: 1px solid #c0c0c0;
    background-color: rgba(167, 26, 26, 0);
    border-radius: 1em;
}
.fieldset button,
.fieldset input,
.fieldset textarea{
    margin-bottom: 20px !important;
}

.nama_kriteria, .bobot_kriteria{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #C0C0C0;
}
.nama_kriteria:focus, .bobot_kriteria:focus, {
    border-bottom: 2px solid #5cb85c;
}